<script>
  window.gameName = "<%= @game %>"
  window.playerName = "<%= @name %>"
</script>

<div class="row">
  <div class="column">
    <h2>Simon Game: <%= @game %></h2>
    <h4>Hi, <%= @name %> 👋</h4>
    <div id="root">
      React component loading...
    </div>
  </div>
</div>
