/* This file is for your main application css. */

@import "~milligram/dist/milligram";
@import url('https://fonts.googleapis.com/css?family=Rubik:200,300,400,500,600,700,800,900');

body {
  font-family: Rubik, sans-serif;
  font-size: 16px;
}

.hidden {
  visibility: hidden;
}

.btn {
  background-color: lightgrey;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: 300;
}

.btn:hover {
  background-color: #AAAAAA;
  padding: 5px 10px;
  border-radius: 2px;
  color: white;
  font-weight: 300;
}

.red div {
  background-color: #F06767;
}

label {
  display: inline-block;
}


.green div {
  background-color: #67F082;
}

.blue div {
  background-color: #677CF0;
}

.orange div {
  background-color: #F0C667;
}

td {
  border-bottom: none;
}

.clicked {
  background-color: black !important;
  /* border: 5px solid black; */
}

.redActive {
  background-color: red !important;
}

.greenActive {
  background-color: green !important;
}

.blueActive {
  background-color: blue !important;
}

.orangeActive {
  background-color: orange !important;
}




td div{
  height: 100px;
}

.red div:active {
  background-color: red;
}

.blue div:active {
  background-color: blue;
}

.green div:active {
  background-color: green;
}

.orange div:active {
  background-color: orange;
}
